body {
  height: 100vh;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  .hoverable:hover {
    background-color: #394b59;
  }
}

@media (prefers-color-scheme: light) {
  .hoverable:hover {
    background-color: #eeeeee;
  }
}

